<%
  text =<<~TEXT
    # 大見出し
    ## 中見出し
    ### 小見出し

    ```rb
    puts "hello world"
    ```
  TEXT
 %>

<%= markdown(text).html_safe %>

<%= form_tag('/users', method: :get) do %>
  <%= label_tag :名前 %>
  <%= text_field_tag :search_name %><br>
  <%= label_tag :年齢 %>
  <%= text_field_tag :search_age %><br>
  <%= label_tag :住所 %>
  <%= text_field_tag :search_address %>
  <%= submit_tag '検索' %>
<% end %>

<table>
  <tbody>
    <thead>
      <tr>
        <th>名前</th>
        <th>年齢</th>
        <th>住所</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
